body{
    display: block;
    height: auto;
    background: white;
}
#bounding_box{
    width: 95%;
    margin: 20px auto;
    padding:0;
    background: transparent;
    box-shadow: none;
    text-align: left;
    max-width: 1200px;
}
.dashboard-header{
    background:white ;
    padding: 15px 30px;
    border-radius: 8px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.05);
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}
.brand-section h1{
    color:navy;
    font-size: 30px;
    margin:0;

}
.brand-section p{
    color: #64748b;
    font-size:12px;
    margin:0;

}
.back-link{
    display:incline-flex;
    align-items: center;
    gap: 5px;
    color:black;
    text-decoration:none;
    font-weight: bold;
    font-size: 14px;
    margin-bottom: 20px;
    cursor: pointer;

}
.back-link svg{
    width: 16px;
    height: 16px;

}
.back-link:hover{
    text-decoration: underline;
}
.page-title{
    font-size: 20px;
    color: black;
    margin-bottom: 20px;
}
.setting-card{
    background: white;
    border-radius: 10px;
    padding: 30px;
    margin-bottom: 20px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.05);
    border: 1px solid #e5e7eb;
}
.card-header h3{
    margin: 0;
    font-size:18px;
    color: black;

}
.card-header p{
    margin:5px 0 20px 0;
    color:#64748b;
    font-size: 14px;
}
.form-group{
    margin-bottom: 20px;
}
.form-label{
    display: block;
    font-weight:bold;
    margin-bottom:8px;
    font-size: 14px;
    color:black;

}
.form-input{
    width:100%;
    padding: 12px 15px;
    background-color: white;
    border: 1px solid transparent;
    border-radius: 6px;
    font-size: black;
    box-sizing: border-box;

}
.form-input:focus{
    outline:none;
    border-color:white;
    background-color: whitesmoke;
}
.btn-action{
    background-color: transparent;
    padding: 10px 20px;
    border-radius:4px;
    font-weight:bold;
    font-size: 14px;
    cursor: pointer;
    display: incline-flex;
    align-items: center;
    gap:8px;
}
.btn-action:hover{
    background-color:#004d99;
}
.help-icon{
    position: fixed;
    bottom:30px;
    right: 30px;
    width: 40px;
    height: 40px;
    background-color: #1e293b;
    color:white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    box-shadow: 0 4px 10px rgba(0,0,0,0.05);
    cursor: pointer;
    
}
