name: CyberClinic Web Portal

include:
 - reptor/sysreptor/deploy/docker-compose.yml

services:

  frontend:
    container_name: cyberclinic-frontend
    environment:
      - NGINX_SERVER=${FRONTEND_SERVER}
      - NGINX_PORT=${FRONTEND_PORT}
      - FLASK_SERVER=${BACKEND_SERVER}
      - FLASK_PORT=${BACKEND_PORT}
      - DOLLAR=$
    ports:
      - ${FRONTEND_PORT}:${FRONTEND_PORT}
    build:
      context: frontend
      dockerfile: Dockerfile
    command: sleep infinity
    # run the following in the container to begin the frontend
    #   envsubst < /etc/nginx/conf.d/cyberclinic.template > /etc/nginx/conf.d/default.conf
    #   nginx
    depends_on:
      - ${BACKEND_SERVER}
    networks:
      - frontend

  backend:
    container_name: cyberclinic-backend
    image: python:latest
    build:
      context: backend
      target: builder
    volumes:
      - ./backend:/src
    environment:
    #Web-related Variables
      - FLASK_SERVER=${BACKEND_SERVER}
      - FLASK_PORT=${BACKEND_PORT}
      - FLASK_DEBUG=${FLASK_DEBUG}
      - SECRET_KEY=${FLASK_SECRET_KEY}
    #Standalone-related Variables
      - VPN_PORT=${VPN_PORT}
      - VPN_CRT=${VPN_CRT}
      - VPN_KEY=${VPN_KEY}
    #Databse-related Variables
      - DB_NAME=${DB_NAME}
      - DB_USER=${DB_USER}  
      - DB_PASS=${DB_PASS}
      - DB_HOST=${DB_HOST}
      - DB_PORT=${DB_PORT}
    expose:
      - ${BACKEND_PORT}
    ports:
      - ${VPN_PORT}
    command: python3 main.py
    depends_on:
      app:
        condition: service_healthy
      database:
        condition: service_healthy
    networks:
      - backend
      - frontend
    healthcheck:
      test: curl -f http://localhost:$$BACKEND_PORT/
      interval: 30s
      timeout: 30s
      retries: 5
      start_period: 30s

  backend-dev:
    container_name: cyberclinic-backend
    image: python:latest
    build:
      context: backend
      target: builder
    environment:
    #Web-related Variables
      - FLASK_SERVER=${BACKEND_SERVER}
      - FLASK_PORT=${BACKEND_PORT}
      - FLASK_DEBUG=${FLASK_DEBUG}
      - SECRET_KEY=${FLASK_SECRET_KEY}
    #Standalone-related Variables
      - VPN_PORT=${VPN_PORT}
      - VPN_CRT=${VPN_CRT}
      - VPN_KEY=${VPN_KEY}
    #Databse-related Variables
      - DB_NAME=${DB_NAME}
      - DB_USER=${DB_USER}  
      - DB_PASS=${DB_PASS}
      - DB_HOST=${DB_HOST}
      - DB_PORT=${DB_PORT}
    #Sysreptor-related Variables
      - REPTOR_SERVER_URL=http://${REPTOR_SERVER}:${REPTOR_PORT}
      - REPTOR_API_TOKEN=${REPTOR_API_TOKEN}
    volumes:
      - ./backend:/src
    ports:
      - ${BACKEND_PORT}:${BACKEND_PORT}
      - ${VPN_PORT}:${VPN_PORT}
    command: sleep infinity
    networks:
      - backend
      - frontend
    depends_on:
      - database

  database:
    container_name: cyberclinic-database
    image: bitnami/postgresql:latest
    restart: unless-stopped
    environment:
      - POSTGRESQL_DATABASE=${DB_NAME}
      - POSTGRESQL_USERNAME=${DB_USER}
      - POSTGRESQL_PASSWORD=${DB_PASS}
      - POSTGRESQL_PORT_NUMBER=${DB_PORT}
      - POSTGRESQL_MAX_CONNECTIONS=100 #performance settings for handling multiple connections
    volumes:
      - ./database/init.sql:/docker-entrypoint-initdb.d/init.sql
    expose:
      - ${DB_PORT}
    networks:
      - backend
    healthcheck:
      test: pg_isready -U $$DB_USER -d $$DB_NAME
      interval: 30s
      timeout: 30s
      start_period: 30s
      retries: 3


#  reptor:
#    image: syslifters/sysreptor:latest
#    restart: unless-stopped
#    ports:
#      - ${REPTOR_PORT}:${REPTOR_PORT}
#    environment:
#      - ALLOWED_HOSTS=${REPTOR_ALLOWED_HOSTS}
#      - REPTOR_TOKEN=${REPTOR_API_TOKEN}
#    networks:
#      - backend
#    healthcheck:
#      test: ["CMD-SHELL", "curl", "-f", "http://${REPTOR_SERVER}:${REPTOR_PORT}/"]
#      interval: 30s
#      timeout: 30s
#      retries: 5
#      start_period: 5s

networks:
  backend:
    driver: bridge
  frontend:
    driver: bridge

# Done By Austin Finch