name: CyberClinic Web Portal

services:

  frontend:
    #image: openeuler/react:latest
    ports:
      - "8080:80"
    build:
      context: frontend
      dockerfile: Dockerfile
    depends_on:
      - backend
    networks:
      - frontend

  backend:
    image: python:latest
    build:
      context: backend
      target: builder
    volumes:
      - ./backend:/src
    expose:
      - 5000
    command: python3 main.py
    depends_on:
      - reptor
      - database
    networks:
      - backend
      - frontend

  backend-dev:
    image: python:latest
    build:
      context: backend
      target: builder
    volumes:
      - ./backend:/src
    ports:
      - "5000:5000"
    command: sleep infinity
    networks:
      - backend
      - frontend

  database:
    image: bitnami/postgresql:latest
    restart: unless-stopped
    expose:
      - 5432
    env_file:
      - database.env
    volumes:
      - ./database/init.sql:/docker-entrypoint-initdb.d/init.sql
    networks:
      - backend


  reptor:
    image: syslifters/sysreptor:latest
    restart: unless-stopped
    networks:
      - backend

networks:
  backend:
    driver: bridge
  frontend:
    driver: bridge