name: CyberClinic Web Portal

include:
 - reptor/sysreptor/deploy/docker-compose.yml

services:

  frontend:
    container_name: cyberclinic-frontend
    environment:
      - REACT_APP_FRONTEND_SERVER=${FRONTEND_SERVER}
      - REACT_APP_FRONTEND_PORT=${FRONTEND_PORT}
      - REACT_APP_BACKEND_SERVER=http://${HOST}:${BACKEND_PORT}
    ports:
      - ${FRONTEND_PORT}:${FRONTEND_PORT}
    build:
      context: frontend
      dockerfile: Dockerfile
    depends_on:
      ${BACKEND_SERVER:-backend}:
        condition: service_healthy
    networks:
      - frontend
    command: npm start
    # run the following in the container to begin the frontend
    #   npm start

  backend:
  #changed from python:latest to cyberclinic-backend to work on Mac environment, otherwise revert
    container_name: cyberclinic-backend
    image: cyberclinic-backend
    build:
      context: backend
      target: builder
    volumes:
      - ./backend:/src
    #added working_dir to work on Mac environment, otherwise comment out
    working_dir: /src
    environment:
    #Web-related Variables
      - FLASK_SERVER=0.0.0.0
      - FLASK_PORT=${BACKEND_PORT}
      - FLASK_DEBUG=${FLASK_DEBUG}
      - SECRET_KEY=${FLASK_SECRET_KEY}
    #Standalone-related Variables
      - VPN_PORT=${VPN_PORT}
      - VPN_CRT=${VPN_CRT}
      - VPN_KEY=${VPN_KEY}
    #Databse-related Variables
      - DB_NAME=${DB_NAME}
      - DB_USER=${DB_USER}  
      - DB_PASS=${DB_PASS}
      - DB_HOST=${DB_HOST}
      - DB_PORT=${DB_PORT}
    expose:
      - ${BACKEND_PORT}
    ports:
      - ${VPN_PORT}:${VPN_PORT}
      - ${BACKEND_PORT}:${BACKEND_PORT}
    #changed from python3 main.py to python3 /src/main.py to work on Mac environment, otherwise revert
    command: python3 /src/main.py
    depends_on:
      app:
        condition: service_healthy
      database:
        condition: service_healthy
    networks:
      - backend
      - frontend
    healthcheck:
      test: curl -f http://localhost:$$BACKEND_PORT/
      interval: 30s
      timeout: 30s
      retries: 5
      start_period: 30s

  backend-dev:
  #changed from container_name: cyberclinic-backend & image: python:latest to container_name: cyberclinic-backend-dev & image: cyberclinic-backend-dev
  #to work on Mac environment, otherwise revert
    container_name: cyberclinic-backend-dev
    image: cyberclinic-backend-dev
    build:
      context: backend
      target: builder
    environment:
    #Web-related Variables
      - FLASK_SERVER=0.0.0.0
      - FLASK_PORT=${BACKEND_PORT}
      - FLASK_DEBUG=${FLASK_DEBUG}
      - SECRET_KEY=${FLASK_SECRET_KEY}
    #Standalone-related Variables
      - VPN_PORT=${VPN_PORT}
      - VPN_CRT=${VPN_CRT}
      - VPN_KEY=${VPN_KEY}
    #Databse-related Variables
      - DB_NAME=${DB_NAME}
      - DB_USER=${DB_USER}  
      - DB_PASS=${DB_PASS}
      - DB_HOST=${DB_HOST}
      - DB_PORT=${DB_PORT}
    #Sysreptor-related Variables
      - REPTOR_SERVER_URL=http://${REPTOR_SERVER}:${REPTOR_PORT}
      - REPTOR_API_TOKEN=${REPTOR_API_TOKEN}
    volumes:
      - ./backend:/src
    working_dir: /src
    ports:
      - ${BACKEND_PORT}:${BACKEND_PORT}
    expose:
      - ${BACKEND_PORT}
    command: sleep infinity
    #removed ports: - ${BACKEND_PORT}:${BACKEND_PORT} & - ${VPN_PORT}:${VPN_PORT}
    #to work on Mac environment, otherwise revert
    networks:
      - backend
      - frontend
    depends_on:
      - database

  database:
    container_name: cyberclinic-database
    image: bitnami/postgresql:latest
    restart: unless-stopped
    environment:
      - POSTGRESQL_DATABASE=${DB_NAME}
      - POSTGRESQL_USERNAME=${DB_USER}
      - POSTGRESQL_PASSWORD=${DB_PASS}
      - POSTGRESQL_PORT_NUMBER=${DB_PORT}
      - POSTGRESQL_MAX_CONNECTIONS=100
    volumes:
      - ./database/init.sql:/docker-entrypoint-initdb.d/init.sql
    expose:
      - ${DB_PORT}
    ports:
      - ${DB_PORT}:${DB_PORT}
    networks:
      - backend
    healthcheck:
      test: pg_isready -U $$DB_USER -d $$DB_NAME
      interval: 30s
      timeout: 30s
      start_period: 30s
      retries: 3

networks:
  backend:
    driver: bridge
  frontend:
    driver: bridge

# Done By Austin Finch