name: CyberClinic Web Portal

services:

  frontend:
    image: openeuler/react:latest
    ports:
      - "80:80"
    depends_on:
      - backend
    networks:
      - frontend

  backend:
    image: python:latest
    build:
      context: backend
      target: builder
    ports:
      - "6666:6666"
    expose:
      - 5000
    command: python3 main.py & standalone_handler.py
    env_file:
      - backend/backend.env
    depends_on:
      - reptor
      - database
    networks:
      - backend
      - frontend

  backend-dev:
    image: python:latest
    build:
      context: backend
      target: builder
    volumes:
      - ./backend:/src
    env_file:
      - backend/backend.env
    ports:
      - "5000:5000"
      - "6666:6666"
    command: sleep infinity
    networks:
      - backend
      - frontend
    depends_on:
      - database

  database:
    image: bitnami/postgresql:latest
    restart: unless-stopped
    expose:
      - 5432
    env_file:
      - database.env
    networks:
      - backend


  reptor:
    image: syslifters/sysreptor:latest
    restart: unless-stopped
    networks:
      - backend

networks:
  backend:
    driver: bridge
  frontend:
    driver: bridge